[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = ../../golang/net
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = ../../gorilla/websocket
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = ../../golang/protobuf
